body{
    background-color: rgb(0, 115, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color: rgb(49, 174, 246);
    padding: 14px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

form input{
    border-radius: 8px;
    border: none;
    padding: 5px;
    color: black;
    background-color: rgb(186, 228, 252);
    flex-basis: 200px;
    flex-grow: 1;
}

button{
    border: none;
    border-radius: 8px;
    flex-grow: 1;
    color: black;
    background-color: ;
    cursor: pointer;
}